# Base de donnees PostgreSQL
DATABASE_URL=postgresql://user:password@localhost:5432/revanime?schema=public

# Redis (BullMQ + cache)
REDIS_URL=redis://localhost:6379

# Clerk — Authentification
CLERK_SECRET_KEY=sk_test_xxxxx
CLERK_PUBLISHABLE_KEY=pk_test_xxxxx

# AniList API
ANILIST_API_URL=https://graphql.anilist.co

# Serveur
PORT=3000
HOST=0.0.0.0
NODE_ENV=development

# Mobile — variables Expo
EXPO_PUBLIC_API_URL=http://localhost:3000
EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_xxxxx
